body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    /* flex:1; */
}
a:visited{
    color:rgb(139, 232, 255);
}
h4{
    margin-top: 20px;
    margin-bottom: 10px;

}
button{
    background-color: #3882F6;
    color:white;
    font-weight: bold;
    padding: 8px 32px 8px 32px;
    border-radius: 12px;
}
.header{
    background-color: #28282b;  
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:16px;
    padding-bottom:80px;
    /* gap:16px; */
    /* flex:1; */
    width:100%;
}
    .headerLogo{
        font-weight: 900;
        flex-shrink: 0;
        margin-left: 36px;
        margin-right: 36px;
    }
    .headerLinks{
        display: flex;
        gap: 16px;
        font-size: 18px;
        color: #e5e7eb;
        margin-right: 36px;
    }

.container1{
    background-color: #28282b;  
    color: white;
    display: flex;
    justify-content: center;
    flex: 1;
    /* gap:56px; */
    padding-bottom: 96px;
    width:100%;
    align-items: center;
}
    .mainInfo{
        flex: .3 1 420px;
        margin-left: 70px;
        margin-right: 70px;
        max-width: 100%;
        align-items: center;

    }
    .mainImage{
        flex: 0 .3 420px;
        display: flex;
        margin-right: 96px;
        max-width: 100%;
        height:auto;
    }
    .title{
        font-size: 48px;
        font-weight: bolder;
        color:#F9FAF8;
        padding-bottom: 6px;
    }
    .subtext{
        font-size: 18px;
        color: #e5e7eb;
        padding-bottom: 6px;

    }

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex: 1; */
    /* gap:56px; */
    padding-bottom: 96px;
    width:100%;
    align-items: center;
}
    .charactersContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* padding: 0px 24px 96px 24px; */
        }
        .character{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            /* gap: 8px; */
            padding: 24px;        
        }
        .characterInfo{
            text-align: center;
            font-size: smaller;
        }

.container3{
    background-color: #e5e7eb;  
    padding: 56px;

}
    .quote{
    text-align: center;
    font-style: italic;
    font-size: 26px;
    color: #272a2d;
    margin-bottom: 10px;
    }
    .quote2{
        text-align: right;
        font-weight: 700;
        font-size: 18px;

    }

.container4{
    padding: 56px;
    display: flex;
    justify-content: center;
}

.signUp{
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 32px 62px 32px 62px;
    border-radius: 12px;
    gap: 10px;
}

.signUpFlyer{
    font-weight: bold;
    color: white;


}

.signUpFlyer2{
    font-size: small;
    color: white;
    font-weight: 100;
}

.signUpBtn2{
    border-color: white;
}
.footer{
    text-align: center;
    background-color: #28282b;  
    color: #F9FAF8;   
    font-size: smaller; 
    padding: 24px;
}
img{
    max-width:100%;
    height:auto;
    object-fit: cover;
}

#mrRobotPic{
    opacity: 0.70;
}

/* Media Queries */

@media screen and (max-width: 750px) {
    .mainImage {
        display: none !important;
    }
}
@media screen and (max-width: 635px) {
    .headerLinks {
        display: none !important;
    }
}
@media screen and (min-width: 636px) {
    .menuHamburger {
        display: none !important;
    }
}

/* Menu Button */
.menuHamburger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
    .menuHamburgerButton{
        width: 20px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }

    .menuHamburgerButton::before,
    .menuHamburgerButton::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }

    .menuHamburgerButton::before{
        transform: translateY(-8px);
    }
    .menuHamburgerButton::after{
        transform: translateY(8px);
    }

    .menuHamburger.open .menuHamburgerButton{
        transform: translateX(-25px);
        background: transparent;
        box-shadow: none;
    }

    .menuHamburger.open .menuHamburgerButton::before{
        transform: rotate(45deg) translate(18px, -18px);
    }

    .menuHamburger.open .menuHamburgerButton::after{
        transform: rotate(-45deg) translate(18px, 18px);
    }
